/* carusel title styles  */
.carusel-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 40px 10px 0px 10px;
}
.carusel-title h3{
    font-size: .7em;
    font-weight: 300;
}
.carusel-title a{
    font-weight: 400;
    font-size: .4em;
    padding: 10px 18px;
    color: black;
}
/* End of carusel title  */
/* swiper styles  */
.swiper {
    width: 95%;
    margin: 0 auto;
    position: relative;
    padding: 25px 0 40px 0 !important;
    align-items: flex-start !important;
  }

  .swiper-slide {
    text-align: center;
    height: auto !important;
    font-size: 18px;
    background: #fff;
    /*Centerslidetextvertically*/display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    transition: .4s all ease-in-out !important;
    -webkit-transition: .4s all ease-in-out !important;
    -moz-transition: .4s all ease-in-out !important;
    -ms-transition: .4s all ease-in-out !important;
    -o-transition: .4s all ease-in-out !important;
    margin: 30px 0;
}

  .swiper-slide:hover{
    box-shadow: 0px 0px 30px .2px rgba(0, 0, 0, 0.075);
    -webkit-box-shadow: 0px 0px 30px .2px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: 0px 0px 30px .2px rgba(0, 0, 0, 0.075);
    -ms-box-shadow: 0px 0px 30px .2px rgba(0, 0, 0, 0.075);
    -o-box-shadow: 0px 0px 30px .2px rgba(0, 0, 0, 0.075);
  }
  .swiper-slide img {
    display: block;
    width: 100%;
    object-fit: cover;
  }
  .swiper-slide a{
    cursor: auto;
  }
.button-next , .button-prev {
  display: inline-block;
  position: absolute;
  top: 50%;
  font-size: 32px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  z-index: 10;
  color: rgba(0, 0, 0, 0.781);
}
.button-next{
  right:5px;
}
.button-prev{
  left:5px;
}
.button-prev.swiper-button-disabled{
  opacity: .4;
  pointer-events: none;
}
.button-next.swiper-button-disabled{
  opacity: .4;
  pointer-events: none;
}
/* End of swiper styles  */
/* product cart styles */
.product-image{
  position: relative;
}
.product-image .add-to-favorites{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 15%;
  position:absolute;
  top:15px;
  right: 5px;
  font-size: .9em;
}
.product-image .sell{
  position: absolute;
  font-size: .6em;
  top: 15px;
  left: 15px;
  width: auto;
  background: red;
  border-radius: 50px;
  color: white;
  padding:2px 5px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.product-image .add-to-favorites i{
  width: 30px;
  height: 30px;
  background-color: #fff;
  box-shadow: 1px 1px 10px .2px rgba(3, 3, 3, 0.137);
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: .4s;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
  cursor: pointer;
}
.product-image .add-to-favorites i:hover{
  background-color: rgb(255, 137, 154);
  color: #fff;
}
.product-image .add-to-favorites i:active{
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
}
.product-image .add-to-favorites.added i{
  background-color: rgb(255, 80, 109);
  color: #fff;
}
.product-body{
  margin-left: 5px;
  margin-top: 30px;
  display: flex;
  text-align: left;
  align-items: flex-start;
  justify-content: start;
  flex-direction: column;
  width: 75%;
  overflow: hidden;
}
.product-body h3{
  overflow: hidden;
  text-overflow:ellipsis;
  font-size: .7em;
  font-weight: 400;
}
.product-body p{
  font-weight: 500;
  font-size: .8em;
}
.product-body .new-price{
  display: flex;
  align-items: center;
  justify-content: start;
  color: rgb(189, 189, 189);
  font-size: .8em;
}
.product-body .new-price .off-price{
  color:red;
  margin-right: 20%;
  font-size: .9em;
}
.add-to-cart{
  width: 95%;
  margin: 5px auto;
  font-size: .6em;
  background-color: rgb(236, 236, 236);
  display: block;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 5px 0;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
}
.add-to-cart:hover{
  background-color: rgb(255, 35, 35);
  color: #fff;
  box-shadow: 1px 1px 15px .1px rgba(255, 0, 0, 0.219);
  margin-bottom: 5px;
}
.add-to-cart span::before{
  content: 'Add to cart';
}
.add-to-cart i::before{
  content: "\f1bf";
}
.add-to-cart.added{
  background-color: rgb(255, 111, 111);
  color: #fff;
}
.add-to-cart.added i::before{
  content: "\f12e";
}
.add-to-cart.added span::before{
  content: 'Added';
}
/* .add-to-cart.added i::before{
  content: "\f1bf";
} */
/* End of product cart styles */








/* tablet style */
@media screen and (max-width: 991px) {
  .swiper-slide:hover{
    box-shadow: none;
  }
  .product-image .add-to-favorites{
    font-size: .8em;
  }
  .product-image .add-to-favorites i{
    width: 25px;
    height: 25px;
  }  
}
/* End of tablet style */