article{
    width: 100vw;
    overflow-x: hidden;
}
/* pagination styles */
article .pagination{
    margin-top: 110px;
    width: 100%;
    font-size: .7em;
}
article .pagination ul::-webkit-scrollbar{
    height: 0;
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}
article .pagination ul{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow-x: auto;
}
article .pagination ul li{
    margin: 0 5px;
    font-size: .8em;
}
article .pagination ul li:first-child{
    font-size: 1em;
}
article .pagination ul li a{
    color: rgb(151, 151, 151);
}
article .pagination ul li a:hover{
    color: rgb(0, 140, 255);
}
article .pagination ul li.slash{
    color: rgb(151, 151, 151);
}
/* End of pagination styles */

/* product images  */
.product-images{
    background: rgb(255, 255, 255);
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
    position: relative;
    height: 500px;
  }
  .open-lightbox-icon{
      position: absolute;
      z-index: 50;
      top: 20px;
      right: 20px;
      font-size: 1.7em;
      background-color: white ;
      box-shadow: 0 0 25px .2px rgba(235, 235, 235, 0.144);
      -webkit-box-shadow: 0 0 25px .2px rgba(235, 235, 235, 0.144);
      -moz-box-shadow: 0 0 25px .2px rgba(235, 235, 235, 0.144);
      -ms-box-shadow: 0 0 25px .2px rgba(235, 235, 235, 0.144);
      -o-box-shadow: 0 0 25px .2px rgba(235, 235, 235, 0.144);
      padding: 8px;
      border-radius: 30px;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      -ms-border-radius: 30px;
      -o-border-radius: 30px;
      cursor: pointer;
      transition: .3s;
      -webkit-transition: .3s;
      -moz-transition: .3s;
      -ms-transition: .3s;
      -o-transition: .3s;
}
.open-lightbox-icon:hover{
    background-color: gray;
    color: white;
}
/* End of product images  */


/* swiper slider styles  */
.product-image-preview{
    width: 100%!important;
    height: auto !important;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.swiper-scrollbar{
    background-color: #fff !important;
    height: 3px !important;
}
.swiper-scrollbar div{
    background: #000 !important;
}
.product-image-preview .swiper-button-prev::after {
    color: rgb(36, 36, 36) !important;
    font-size: 1.5em !important;
    margin-left: 5px;
}
.product-image-preview .swiper-button-next::after {
    color: rgb(36, 36, 36) !important;
    font-size: 1.5em !important;
}
.swiper {
    width: auto;
    height: 100% !important;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: rgb(255, 255, 255);
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
/* End of swiper slider styles  */

/* product image light box  */
#product-image-light-box{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    background-color: white;
    z-index: 10000;
    opacity: 0;
    visibility: hidden;
    transition: .2s ;
    -webkit-transition: .2s ;
    -moz-transition: .2s ;
    -ms-transition: .2s ;
    -o-transition: .2s ;
}
#product-image-light-box.show{
    visibility: visible;
    opacity: 1;
}
#product-image-light-box .close-btn{
    position: absolute;
    z-index: 10;
    top: 20px;
    right: 20px;
    font-size: 1em;
    background-color: white ;
    box-shadow: 0 0 25px .2px rgba(126, 126, 126, 0.144);
    -webkit-box-shadow: 0 0 25px .2px rgba(126, 126, 126, 0.144);
    -moz-box-shadow: 0 0 25px .2px rgba(126, 126, 126, 0.144);
    -ms-box-shadow: 0 0 25px .2px rgba(126, 126, 126, 0.144);
    -o-box-shadow: 0 0 25px .2px rgba(126, 126, 126, 0.144);
    padding: 8px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    cursor: pointer;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
#product-image-light-box .close-btn:hover{
  background-color: gray;
  color: white;
}
#product-image-light-box .swiper-button-prev::after {
    color: rgb(36, 36, 36) !important;
    font-size: 1em !important;
}
#product-image-light-box .swiper-button-next::after {
    color: rgb(36, 36, 36) !important;
    font-size: 1em !important;
}
#product-image-light-box .light-box-images{
    padding: 0 !important;
}
#product-image-light-box .swiper {
    height: 100vh !important;
    width: auto !important;
    margin-left: auto;
    margin-right: auto;
}
#product-image-light-box .swiper-slide {
    text-align: center;
    font-size: 18px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    margin: 0 ;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
}
#product-image-light-box .swiper-slide img {
    display: block;
    object-fit:contain;
    height: 100%;
    transform-origin: center;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
#product-image-light-box  .swiper-pagination-bullet{
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
#product-image-light-box .swiper-pagination-bullet-active{
    background-color: black;
    width: 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
/* End of product image light box ---------------- */

/* product info styles ----------------------- */
.product-info .sale-badge{
    visibility: hidden;
}
.product-info.offer .sale-badge{
    visibility: visible;
}
.product-info .product-prices{
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: row;
}
.product-info .offer-price{
    display: none;
}
.product-info.offer .price{
    color: gray;
    text-decoration:line-through;
}
.product-info .product-id span:last-child{
    color: rgb(173, 173, 173);
    font-size: .6em;
}
.product-info.offer .offer-price{
    color: rgb(255, 0, 0);
    display: block;
}
.product-prices .price{
    color: red;
}
.product-prices .product-brand{
    font-size: .55em;
    text-transform:uppercase;
    background-color: rgb(251, 251, 251);
    padding: 2px 4px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
/* colors  */
.font-7{
    font-size: .55em !important;
}
.color-box{
    display: flex;
}
.color-box input{
    position: relative;
    display: flex;
    margin: 8px;
    width: 25px;
}
.color-box input::after{
    content: '';
    width: 20px;
    height: 20px;
    background-color: var(--boxAfterBackColor,red);
    display: block;
    outline: 1px solid rgba(200, 200, 200, 0.322);
    outline-offset: 6px;
    box-shadow: 0 0 20px .2px rgba(88, 88, 88, 0.315);
    -webkit-box-shadow: 0 0 20px .2px rgba(88, 88, 88, 0.089);
    -moz-box-shadow: 0 0 20px .2px rgba(88, 88, 88, 0.089);
    -ms-box-shadow: 0 0 20px .2px rgba(88, 88, 88, 0.089);
    -o-box-shadow: 0 0 20px .2px rgba(88, 88, 88, 0.089);
    border: 1px solid rgba(128, 128, 128, 0.185);
    cursor: pointer;
    transform: translateX(3px);
    -webkit-transform: translateX(3px);
    -moz-transform: translateX(3px);
    -ms-transform: translateX(3px);
    -o-transform: translateX(3px);
}
.color-box input:checked::after{
    outline-color: black;
}
/* End of colors  */

/* choose size */
#choose-size{
    padding: 12px 70px 12px 25px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    border-color: rgba(200, 200, 200, 0.5);
    -moz-appearance: none;
    -webkit-appearance: none;
    position: relative;
    background-image: url('../files/icons/chevron-right.svg');
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 90%;
    background-size: 18px;
    outline: none;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
    color: rgb(87, 87, 87);
    text-transform:uppercase;
    cursor: pointer;
}
/* End of choose size */

/* more buttons  */
.more-buttons{
    justify-content: space-around;
}
.more-buttons .counter{
    border: 1px solid rgba(200, 200, 200, 0.5);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.2em;
    width: 25%;
}
.more-buttons .counter #decrease , #increase {
    cursor: pointer;
}
.more-buttons .counter #decrease:active{
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
}
.more-buttons .counter #increase:active{
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
}
.more-buttons .add-to-cart{
    width: 50%;
    background-color: rgb(255, 153, 0);
    border: 1px solid rgba(200, 200, 200, 0.5);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    font-size: 11px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    padding: 15px 5px;
}
.more-buttons .add-to-cart:hover{
    background-color: rgb(75, 75, 75);
    color: white;
}
.more-buttons .icon-heart{
    border: 1px solid rgba(200, 200, 200, 0.5);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    cursor: pointer;
}
.more-buttons .icon-heart:hover{
    background-color: rgb(255, 16, 56);
    color: white;
}
/* End of more buttons  */
/* End of product info styles ----------------------- */

/* description and reviews styles */
/* tabs */
#tabs{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 14px;
}
#tabs div{
    cursor: pointer;
    border:1px solid white;
    padding: 8px 10px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    width: 40%;
    text-align: center;
    color: grey;
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
}
#tabs div:hover{
    border-color: grey;
}
#tabs div.active{
    border-color: rgb(255, 153, 0);
    color: black;
}
/* End of tabs */

/* description  */
#description{
    font-size: .6em;
}
#description h4{
    font-size: 1.2em;
}
/* End of description  */
/* reviews */
#rateing{
    position: sticky;
    top: 100px; 
    height: 100%;
}
#rateing .total-socre h4{
    font-size: 2.3em;
    font-weight: 300;
}
#rateing .total-socre .stars-outer{
    color: rgb(199, 199, 199);
    letter-spacing: 3px;
    position: relative;
    display: inline-block;
    overflow: hidden;
}
#rateing .total-socre .stars-outer::before{
    content: '\f1e2 \f1e2 \f1e2 \f1e2 \f1e2';
    font-family: "feather-icons";
}
#rateing .total-socre .stars-outer .stars-inner{
    color: rgb(255, 153, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    overflow: hidden;
}
#rateing .total-socre .stars-outer .stars-inner::before{
    content: '\f1e2 \f1e2 \f1e2 \f1e2 \f1e2';
    font-family: "feather-icons";
}
#rateing .total-socre .counter{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .55em;
    color: gray;
}
#rateing .stars-counter{
    font-size: .6em;
}
#rateing .stars-counter ul li{
    margin: 8px 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#rateing .stars-counter ul li span{
    margin-right: 10px;
}
#rateing .stars-counter ul li i.icon-star-s{
    color: rgb(255, 153, 0);
    margin-right: 5px;
}
#rateing .stars-counter ul li .progress-bar{
    width: 70%;
    height: 2px;
    background-color: rgb(199, 199, 199);
    display: inline-block;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
#rateing .stars-counter ul li .progress-bar .prograss{
    background-color: rgb(255, 153, 0);
    height: 100%;
    display: block;
}
/* #rating .stars-counter ul li #progress-bar-1 .prograss{
    width: 0%;
}
#rating .stars-counter ul li #progress-bar-2 .prograss{
    width: 0%;
}
#rating .stars-counter ul li #progress-bar-3 .prograss{
    width: 10%;
}
#rating .stars-counter ul li #progress-bar-4 .prograss{
    width: 22%;
}
#rating .stars-counter ul li #progress-bar-5 .prograss{
    width: 83%;
} */
 button.add-comment-btn{
     background-color: rgb(255, 153, 0);
     border: none;
     outline: none;
     border-radius: 50px;
     -webkit-border-radius: 50px;
     -moz-border-radius: 50px;
     -ms-border-radius: 50px;
     -o-border-radius: 50px;
     font-size: .55em;
     padding: 8px 12px;
     width: 40%;
     transition: .3s;
     -webkit-transition: .3s;
     -moz-transition: .3s;
     -ms-transition: .3s;
     -o-transition: .3s;
}
button.add-comment-btn:hover{
    background-color: rgb(36, 36, 36);
    color: white;
}
/* End of reviews */
/* comments styles  */
#comments ul{
    width: 90%;
    margin:0 auto;
}
#comments .comment .comment-img{
    min-width: 40px !important;
    height: 40px;
    overflow: hidden;
    display: inline-block;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
#comments .comment .comment-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#comments .comment .comment-body{
    font-size: .6em;
    letter-spacing: .5px;
}
#comments .comment .comment-body h4{
    font-size: 1em;
}
#comments .comment .comment-body .rate{
    margin-bottom: 20px;
}
#comments .comment .comment-body .rate{
    color: rgb(199, 199, 199);
    letter-spacing: 3px;
    position: relative;
    display: inline-block;
    overflow: hidden;
}
/* End of comments styles  */
/* add comment styles */
#add-comment-box{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(253, 253, 253);
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-40% , -50%);
    -webkit-transform: translate(-50% , -40%);
    -moz-transform: translate(-40% , -50%);
    -ms-transform: translate(-40% , -50%);
    -o-transform: translate(-40% , -50%);
    z-index: 1000;
    width: 50vw;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: .3s ease;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
}
#add-comment-box.active{
    opacity: 1;
    visibility: visible;
}
#add-comment-box .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    background-color: rgb(255, 255, 255);
}
#add-comment-box .header span{
    font-size: .6em;
}
#add-comment-box .header .icon-x{
    cursor: pointer;
}
#add-comment-box .header .icon-x:hover{
    color:gray;
}
    /* stars  */
    #add-comment-box .set-rate{
        margin-top: 25px;
    }
    #add-comment-box .set-rate p{
        font-size: .9em;
    }
    #add-comment-box .set-rate .stars{
        margin-top: 15px;
        font-size: 1.5em;
        color: rgb(200, 200, 200);
    }
    #add-comment-box .set-rate .stars i{
        cursor: pointer;
        transition: .1s ease-in;
        -webkit-transition: .1s ease-in;
        -moz-transition: .1s ease-in;
        -ms-transition: .1s ease-in;
        -o-transition: .1s ease-in;
    }
    #add-comment-box .set-rate .stars i:hover{
        text-shadow: 0 0 15px rgba(255, 153, 0, 0.63);
    }
    #add-comment-box .set-rate .stars i.star-1:hover ~ i.icon-star-s{
        color: rgb(255, 153, 0);
    }
    #add-comment-box .set-rate .stars i.star-2:hover ~ i.icon-star-s{
        color: rgb(255, 153, 0);
    }
    #add-comment-box .set-rate .stars i.star-3:hover ~ i.icon-star-s{
        color: rgb(255, 153, 0);
    }
    #add-comment-box .set-rate .stars i.star-4:hover ~ i.icon-star-s{
        color: rgb(255, 153, 0);
    }
    #add-comment-box .set-rate .stars i.star-5:hover ~ i.icon-star-s{
        color: rgb(255, 153, 0);
    }
    #add-comment-box .set-rate .stars i.star-1:hover{
        color: rgb(255, 153, 0);
    }
    #add-comment-box .set-rate .stars i.star-2:hover{
        color: rgb(255, 153, 0);
    }
    #add-comment-box .set-rate .stars i.star-3:hover{
        color: rgb(255, 153, 0);
    }
    #add-comment-box .set-rate .stars i.star-4:hover{
        color: rgb(255, 153, 0);
    }
    #add-comment-box .set-rate .stars i.star-5:hover{
        color: rgb(255, 153, 0);
    }
    /* End of stars  */

/* add comment form  */
#add-comment-box form{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 15px auto;
    width: 100%;
}
#add-comment-box form input , textarea {
    min-width: 90%;
    font-size: .55em;
    border: 1px solid rgb(204, 204, 204);
    background-color: rgb(253, 253, 253);
    padding: 13px 10px;
    padding-left: 25px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    outline: none;
    margin: 10px 0;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
#add-comment-box form input:focus{
    border-color: rgb(255, 153, 0);
}
#add-comment-box form textarea{
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    font-size: .55em;
    margin-top: 12px;
}
#add-comment-box form textarea:focus{
    border-color: rgb(255, 153, 0);
}
#add-comment-box form button[type='submit']{
    background-color: rgb(255, 153, 0);
    border: none;
    width: 70%;
    margin-top: 15px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    padding: 10px 5px;
    font-size: .6em;
}
/*End of add comment form  */
/* End of add comment styles */

/* End of description and reviews styles -------------------------- */





/* tablet style */
@media screen and (max-width: 991px){
    /* pagination  */
    article .pagination{
        margin-top: 80px;
        font-size: .6em;
    }
    /* End of pagination  */
    /* product images */
    .product-image-preview{
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }
    /* End of product images */

    /* product info */
    .product-info{
        font-size: .8em;
    }
    .product-info .product-prices{
        justify-content: left;
        flex-direction: column;
        align-items: flex-start;
    }
    /* End of product info */
    /* review and description  */
    #rateing{
        position: static;
        height: 100%;
    }
    #add-comment-box{
        width: 100vw;
        height: auto;
        border-radius:  0px 20px 0 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        border-radius: 0;
        overflow-y: scroll;
        opacity: 0;
        visibility: hidden;
    }     
    /* End of review and description  */
}
/* End of tablet style */



/* mobile style */
@media screen and (max-width: 576px){
    /* product images */
    .product-images{
        height: 360px !important;
    }
    /* End of product images */

    /* product info  */
    .product-info .product-id span:last-child{
        display: block;
    }
    /* End of product info  */

    /* tabs */
    #tabs{
        font-size: 13px;
    }
    /* End of tabs */

    /* description and reviews */
    #description{
        font-size: .55em;
    }
    button.add-comment{
        width: 70%;
    }
    #comments ul{
        width: 100%;
    }
    #comments{
        padding-left: 0;
    }
    button.add-comment-btn{
        width: 80%;
    }
    /* stars  */
    #add-comment-box .set-rate{
        margin-top: 5px;
    }
    #add-comment-box .set-rate p{
        font-size: .6em;
    }
    #add-comment-box .set-rate .stars{
        margin-top: 10px;
        font-size: 1.3em;
    }
    #add-comment-box form{
        margin-top: 5px;
    }
    #add-comment-box form input , textarea{
        padding: 8px 14px;
        margin: 5px auto;
    }
    #add-comment-box form textarea{
        max-width: 90%;
    }
    #add-comment-box form button[type='submit']{
        font-size: .55em;
        padding: 8px 14px;
    }
    /* stars  */
    /* End of description and reviews */
    
}
/* End of mobile style */

/* mini mobile style */
@media screen and (max-width: 320px){

    /* product info */
    .product-info div *{
        padding-right: 5px;
        padding-left: 5px;
    }
    .more-buttons .counter{
        width: 25%;
    }
    /* End of product info */

    /* tabs */
    #tabs{
        font-size: 12px;
    }
    /* End of tabs */

    /* reviews and description  */
    button.add-comment-btn{
        width: 90%;
    }
    #add-comment-box{
        height: 100vh;
        overflow-y: scroll;
    }
    /* End of reviews and description  */
    
}
/* End of mobile style */