/* carusel title styles  */
.carusel-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 40px 10px;
}
.carusel-title h3{
    font-size: .7em;
    font-weight: 300;
}
.carusel-title a{
    font-weight: 400;
    font-size: .4em;
    padding: 10px 18px;
    color: black;
}
/* End of carusel title  */
/* product carusel styles */
.product-carusel{
    position: relative;
    width: 100vw;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}
.product-carusel .carusel-wrapper{
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: left;
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    overflow-x: hidden;
    margin: 0 auto;
}
.product-carusel .carusel-wrapper .loop{
    display: flex;
    height: 100%;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    position: relative;
    left: 0;
}
.product-carusel .carusel-wrapper .product{
    display: flex;
    align-items: left;
    justify-content: flex-start;
    flex-direction: column;
    margin: 0 30px;
    height: 90%;
    width: 100%;
    transition: .7s;
    -webkit-transition: .7s;
    -moz-transition: .7s;
    -ms-transition: .7s;
    -o-transition: .7s;
    z-index: 3;
    position: relative;
}
.product-carusel .carusel-wrapper .product:hover{
    box-shadow: 2px 5px 25px .2px rgba(8, 8, 8, 0.068);
    -webkit-box-shadow: 2px 5px 25px .2px rgba(8, 8, 8, 0.068);
    -moz-box-shadow: 2px 5px 25px .2px rgba(8, 8, 8, 0.068);
    -ms-box-shadow: 2px 5px 25px .2px rgba(8, 8, 8, 0.068);
    -o-box-shadow: 2px 5px 25px .2px rgba(8, 8, 8, 0.068);
}
.product-carusel .carusel-wrapper .product .product-image{
    height: 79%;
    margin-bottom: 20px;
}
.product-carusel .carusel-wrapper .product .carusel-body{
    display: flex;
    padding-left: 10px;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    color: black;
}
.product-carusel .carusel-wrapper .product .carusel-body p{
    font-size: .5em;
    font-weight: 400;
}
.product-carusel .carusel-wrapper .product .carusel-body .product-price{
    font-size: .7em;
    font-weight: 500;
    margin-top: -10px;
}
.product-carusel .carusel-wrapper .product .carusel-body .product-price.offer{
    color:rgb(212, 212, 212);
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
}
.product-carusel .carusel-wrapper .product .carusel-body .product-price.offer .new-price{
    color: red;
    margin-right: 20px;
}
.offer-badge{
    font-size: .4em ;
    display: inline-block;
    position: absolute;
    font-weight: 400;
    left: 15px;
    top: 15px;
    padding: 5px 8px;
    background-color: red;
    color: white;
}
/* carusel buttons */
.product-carusel .carusel-buttons{
    position: absolute;
    display: flex;
    width: 100%;
    z-index: 5;
    justify-content: space-between;
}
.product-carusel .carusel-buttons i{
    font-size: 1.5em;
    z-index: 4;
    cursor: pointer;
    margin-left: 20px;
    opacity: .4;
}
.product-carusel .carusel-buttons i:hover{
    color: rgb(56, 56, 56);
}
.product-carusel .carusel-buttons .prev-product{
    pointer-events: none;
    margin-left: 20px;
}
.product-carusel .carusel-buttons .next-product{
    pointer-events: none;
    margin-right: 30px;
}
.product-carusel .carusel-buttons .next-product.active i{
    pointer-events:painted ;
    opacity: 1;
}
.product-carusel .carusel-buttons .prev-product.active i{
    pointer-events:painted ;
    opacity: 1;
}

/* end of carusel buttons */
/* End of product carusel styles */